* {
    padding: 0;
    margin: 0;
}

body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#Heading span {
    color: #EA1C2C;
}

#Heading h1 {
    font-weight: 100;
    font-size: 3rem;
}

@media (max-width: 1200px) {
    #Heading h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}
.row {
    margin-right: 0 !important;
}
.para h2{
    font-weight: 100;
    font-size: 2.5rem;
    color: #EA1C2C;
}
.para p{
    font-weight: 100;
    font-size: 1.125rem;
    color: #f498B8;
    line-height: 2;
}

.content{
    margin-top: 100px;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 600ms;
}
